<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
      You can enter your Azure storage connection string into a file in this project folder
         privatesettings.config
         
      However, we recommend instead specifying it via an environment variable 
      (AZURE_STORAGE_CONN_STRING) if you are running from the console, or
      using Kubernetes' cra-config for a Kubernetes deployment.
      
      set AZURE_STORAGE_CONN_STRING=your_storage_key
      
      The file privatesettings.config is added to .gitignore for privacy reasons.
      See <project root>/src/privatesettings.config.example for the 
      template to copy this file from, if you choose to use this.
  -->
  <appSettings file="privatesettings.config">
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
